.logo{
    height: 10vw;
}

.categories .categories-imagenes {
    height: 9.8vw;
}

.categories div button{
    width: 8vw;
}

.publicity .publicity-image{
    height: 20vw;
}

.mainFrame img{
    height: 100%;
}

.arrival img{
    height: 7vw;
}


.card{
    width: 14vw !important; 
}


.publicity .publicity-image{
    height: 20.5vw;
}

.publicity div:nth-child(2){
    width: 63vw;
}

.publicity div button{
    width: 15vw;
}

.publicity div:nth-child(3) figure{
    flex-direction: column;
}

.publicity div:nth-child(3){
    width: 84%;
}