.logo{
    height: 10vw;
}

.header{
    height: 26rem;
}

.header-firstPart section{
    flex-direction: column;
}

.header-secondPart form {
    flex-direction: column;
    gap: 15px;
}

.cartButton{
    margin-left: 64%;
}

.header-secondPart{
    grid-template-columns: 1fr;
    gap: 22%;
}

.header-secondPart button,
.header-secondPart .my_account{
    place-self: center;
}

.header-secondPart button{
    width: 100%;
}

.mainFrame{
    grid-template-columns: 1fr;
    height: 32rem;
}

.lateral_space{
    width: 0rem;
}

.principal_user_view{
    grid-template-columns: 1fr;
}

.arrival img{
    height: 26vw;
}

.card{
    width: 44vw !important; 
}



.categories div{
    flex-direction: column;
    margin-bottom: 14%;
}

.categories .categories-imagenes {
    width: 79.8vw;
    margin-bottom: 40%;
    height: 44vw;
}

.categories div button{
    width: 18rem;
    height: 23rem;
    margin: 2%;
}

.categories-productos,
.categories-container_imagenes{
 align-items: center;
}



.section-products_content{
    background-color: var(--bs-body-bg);
}

.publicity .publicity-image{
    height: 20vw;
}

.mainFrame img{
    height: 100%;
}

.publicity{
    background-color: var(--bs-body-bg);
}

.publicity .publicity-image{
    height: 26vw;
}

.publicity div:nth-child(2){
    width: 78vw;
}

.publicity div button{
    width: 18vw;
}

.publicity div:nth-child(3) figure{
    flex-direction: column;
}



